@charset "utf-8";
@import url(reset.css);
@import url(clearfix.css);
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/*
//*********** index ************
//
// > 初期設定
// > #all
// > header
// > footer
// > #kadai_nav
// > #breadcrumb
// > #linkList
// > #contents
// > #main
// > #sub
// > 課題2
// > 課題7
//
********************************
*/

/******* 初期設定 *******/
body {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
  background-color: antiquewhite;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 175%;
}

h2 {
  font-size: 150%;
  font-weight: bold;
}

h3 {
  font-size: 125%;
}

p{
  margin-bottom: 5px;
  line-height: 1.2em;
}

form{
  margin: 10px 0;
}

.input-section {
  margin: 10px 0;
}

/******* header *******/
header {
  padding: 2px 5% 2px;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid silver;
  font-family: "Righteous", cursive;
}

header div:first-child {
  height: 40px;
  margin-right: auto;
  padding-top: 3px;
}

header img {
  display: block;
  max-height: 100%;
  transition-duration: 0.3s;
}

header img:hover {
  opacity: 0.7;
}

#headerNav ul {
  display: flex;
}

#headerNav ul li {
  font-size: 15px;
  margin-left: 20px;
}

#headerNav ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: dimgray;
}

#headerNav ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.3s;
}

#headerNav ul li a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

/******* footer *******/
footer {
  font-size: 90%;
  background-color: white;
  border-top: 1px solid silver;
  color: slategray;
  text-align: center;
  padding: 1em 0 1em 0;
}

#copy {
  font-size: 110%;
}

/******* #kadai_nav *******/
#kadai_nav {
  margin: 25px 60px 20px;
  border-bottom: 1px solid gray;
}

#kadai_nav ul li {
  float: left;
}

#kadai_nav .material-icons.source {
  color: goldenrod;
  font-size: 90%;
  margin-left: 15px;
}

#kadai_nav ul li:not(:first-child) {
  font-size: 90%;
  margin-left: 20px;
}

#kadai_nav ul li a {
  text-decoration: none;
}

#kadai_nav ul li a:link,
#kadai_nav ul li a:visited {
  transition-duration: 0.3s;
  color: dimgray;
}

#kadai_nav ul li a:hover {
  transition-duration: 0.3s;
  color: darkorange;
}

/******* #breadcrumb *******/
#breadcrumb {
  margin: 15px 0 15px 80px;
  font-size: 90%;
}

/******* #linkList *******/
#linkList li {
  font-size: 92%;
}

#linkList li:not(:first-child) {
  padding-bottom: 0.5em;
}

#linkList a {
  color: #0000ff;
  transition-duration: 0.3s;
}

#linkList a:visited {
  transition-duration: 0.3s;
  color: #551a8b;
}

#linkList a:hover {
  transition-duration: 0.3s;
  color: darkorange;
}

.linkListHead {
  padding-bottom: 0.5em;
  font-size: 75%;
  color: saddlebrown;
}

span.linkHead {
  color: #333631;
}

/******* #contents *******/
#contents {
  display: flex;
  margin: 0 60px 100px;
  flex: 1;
}

/******* #main *******/
#main {
  background-color: white;
  min-width: 300px;
  margin-right: 20px;
  flex: 1;
  padding: 10px 45px 25px;
}

section:not(:last-child) {
  margin-bottom: 90px;
}

.contentTitle,
#contentTitleFirst {
  font-family: "Noto Sans JP", sans-serif;
  color: #494949;
  padding: 0.9em;
}

#contentTitleFirst {
  margin-top: 20px;
}

.contentTitle {
    margin-bottom: 20px;
    border-left: 4px solid orange;
    font-size: 110%;
    background: linear-gradient(to right, papayawhip 75%, floralwhite);
}

#borderGradient::after {
  margin-bottom: 10px;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, dimgray 75%, white);
}

#gushikawa {
  letter-spacing: 0.02em;
  transition-duration: 0.3s;
}

#gushikawa:hover {
  color: darkorange;
  transition-duration: 0.3s;
}

#borderGradient {
    margin-bottom: 20px;
}

#contentBodyFirst,
.contentBody {
  margin: 0 20px;
}

#contentBodyFirst {
  margin-bottom: 150px;
}

/******* sub *******/
#sub {
  width: 300px;
}

#twitter {
  box-shadow: 2px 2px 4px gray;
  margin-bottom: 20px;
}

#loading {
  padding: 5px 0;
  max-height: 50px;
}

#okashi {
  padding: 5px 20px 12px;
  background-color: white;
  box-shadow: 2px 2px 4px gray;
}

#toriko {
  font-size: 80%;
  padding: 1em 0 1.5em 0;
}

#okashiName{
  font-size: 120%;
  padding-bottom: 5px;
}

#okashiLinear{
  height: 2px;
  background: linear-gradient(to right, orange, yellow);
  margin-bottom: 5px;
}

#okashiImg img{
  max-height: 220px;
  padding: 10px 0;
}

#loading,
#okashiImg {
  text-align: center;
}

#toriko a{
  transition-duration: 0.3s;
}

#toriko a:hover {
  transition-duration: 0.3s;
  color: darkorange;
}

#okashiComment {
  font-size: 90%;
  letter-spacing: 0.01em;
  line-height: 1.4em;
}

/******* 課題2 *******/
.roundedSquare {
  display: table;
  background-color: gainsboro;
  padding: 0.5em 5em;
  margin: 20px 0;
  border-radius: 8px;
}