/* .mainHeader img {
  display: block;
  max-width: 100%;
  object-fit: contain;
  opacity: 0.7;
  transition-duration: 0.4s;
} */

/* .mainHeader img:hover {
  transform: scale(1.04);
  transition-duration: 0.4s;
} */